<div class="my-5 text-center">
  <form [formGroup]="signinForm" class="form-signin">
    <h1 class="h3 mb-4 font-weight-normal">¡Bienvenido de vuelta!</h1>
    <label for="inputEmail" class="sr-only">Correo electrónico</label>
    <input
      type="email"
      id="email"
      class="form-control"
      placeholder="Correo electrónico"
      formControlName="email"
      required
    />
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <div
        class="form-control-feedback text-danger"
        *ngIf="email.errors.required"
      >
        El correo electrónico es requerido
      </div>
    </div>
    <label for="password" class="sr-only">Contraseña</label>
    <input
      type="password"
      id="password"
      class="form-control"
      placeholder="Contraseña"
      formControlName="password"
      required
    />
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <div
        class="form-control-feedback text-danger"
        *ngIf="password.errors.required"
      >
        La contraseña es requerida
      </div>
    </div>
    <div class="btn-group mt-4 mb-2 btn-group-lg d-flex">
      <button class="btn btn-secondary" type="submit">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      </button>
      <button class="btn btn-secondary" type="submit">
        <fa-icon [icon]="['fab', 'google']"></fa-icon>
      </button>
      <button
        class="btn btn-lg btn-primary"
        type="submit"
        [disabled]="!signinForm.valid"
        (click)="signin()"
      >
        <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
        Iniciar sesión
      </button>
    </div>
    ¿No tienes una cuenta? <a [routerLink]="['/signup']">Registrate aqui</a>
  </form>
</div>
