<div class="imput-group" *ngIf="!authService.isLoggedIn">
  <div class="text-center mb-4">
    <img
      class="mb-4"
      src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
  </div>

  <div class="form-label-group">
    <input
      id="usuario"
      type="text"
      [(ngModel)]="usuario"
      maxlength="50"
      class="form-control"
      placeholder="Usuario"
      required=""
      autofocus=""
    />
    <label for="inputEmail"></label>
  </div>

  <div class="form-label-group">
    <input
      id="contrasena"
      type="password"
      [(ngModel)]="contrasena"
      maxlength="50"
      class="form-control"
      placeholder="Contraseña"
      required=""
    />
  </div>

  <button
    class="btn btn-lg btn-primary btn-block mt-5"
    type="button"
    (click)="login(usuario, contrasena)"
  >
    Sign in
  </button>

  <button
    class="btn btn-lg btn-primary btn-block mt-5"
    type="button"
    (click)="loginGggl()"
  >
    Google
  </button>

  <button
    class="btn btn-lg btn-primary btn-block mt-5"
    type="button"
    (click)="loginFb()"
  >
    Facebook
  </button>
  <p class="mt-5 mb-3 text-muted text-center">© Turismobook 2019</p>
</div>
