<div class="conteiner">
  <br />
  <div *ngIf="noticias$ | async as noticias; else loading">
    <div *ngIf="noticias.length > 0; else noData">
      <carousel>
        <slide *ngFor="let noticia of noticias; let index = index">
          <img
            *ngIf="noticia.imagen; else defaultImage"
            [src]="noticia.imagen"
            alt="image slide"
            style="display: block; width: 100%;"
          />
          <ng-template #defaultImage>
            <img
              src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg"
              alt="image slide"
              style="display: block; width: 100%;"
            />
          </ng-template>
          <div class="carousel-caption">
            <h4>{{ noticia.titulo }}</h4>
            <p>{{ noticia.descripcion }}</p>
            <small
              >{{ noticia.fechaCreacion?.toDate() }} -
              {{ noticia.ultimaModificacion?.toDate() }}</small
            >
            <br />
            <label class="btn btn-outline-secondary">
              Foto
              <input
                type="file"
                (change)="uploadPhoto($event, noticia.id)"
                hidden
              />
            </label>
            <a
              class="btn btn-outline-primary"
              routerLinkActive="active"
              [routerLink]="['/admin/manage-news', noticia.id]"
            >
              <fa-icon [icon]="['fas', 'edit']"></fa-icon>
              Editar
            </a>
            <button
              type="submit"
              class="btn btn-outline-danger"
              (click)="borrarData(noticia)"
            >
              <fa-icon [icon]="['fas', 'minus']"></fa-icon>
              Eliminar
            </button>
            <a
              class="btn btn-outline-primary"
              routerLinkActive="active"
              [routerLink]="['/admin/manage-news', -1]"
            >
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
              Agregar
            </a>
          </div>
        </slide>
      </carousel>
    </div>
  </div>

  <ng-template #noData>
    <div class="conteiner" align="center">
      <h3>¡No Existen Noticias!</h3>
      <a
        class="btn btn-outline-primary"
        routerLinkActive="active"
        [routerLink]="['/admin/manage-news', -1]"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Agregar
      </a>
    </div>
  </ng-template>

  <ng-template #loading>
    Cargando...
  </ng-template>
  <router-outlet></router-outlet>
</div>
