<div class="conteiner">
  <ng-container *ngIf="check; else elseTemplate">
    <carousel>
      <slide *ngFor="let noticia of aNoticiaGuardada; let index = index">
        <img
          [src]="noticia.imagen"
          alt="image slide"
          style="display: block; width: 100%;"
        />
        <div class="carousel-caption">
          <h4>{{ noticia.titulo }}</h4>
          <p>{{ noticia.descripcion }}</p>
          <small
            >{{ noticia.fechaCreacion }} -
            {{ noticia.ultimaModificacion }}</small
          >
          <br />
          <a
            class="btn btn-outline-primary"
            routerLinkActive="active"
            [routerLink]="['/admin/noticias', noticia.id]"
          >
            Editar
          </a>
        </div>
      </slide>
    </carousel>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="alert alert-primary" align="center" role="alert">
      <p>¡No Hay Noticias!</p>
    </div>
  </ng-template>
</div>
<br />
<router-outlet></router-outlet>
