<div *ngIf="centro$ | async as centro; else loading">
  <div class="row">
    <div class="d-flex justify-content-start mx-3 my-2 mr-auto">
      <img
        src="{{ centro.imagen }}"
        style="width: 150px; height: 150px"
        class="rounded"
      />
      <div class="ml-3">
        <h4 class="col-12 font-weight-bold">
          {{ centro.nombre }}
        </h4>
        <h6 class="col-12">
          {{ centro.seguidores ? centro.seguidores.length : 0 }}
          seguidores
        </h6>
        <h6 class="col-12">
          {{ centro.valoracion ? centro.valoracion : 0 }}
          puntuación
        </h6>
        <div
          class="col-12 btn-group"
          role="group"
          *ngIf="authService.isLoggedIn"
        >
          <a
            [routerLink]="['resenas', 'nuevo']"
            class="btn btn-primary"
            role="button"
            [class.disabled]="isResena()"
            aria-disabled="true"
          >
            Reseña
          </a>
          <button
            type="button"
            class="btn btn-primary"
            [class.active]="isFollowing()"
            (click)="follow()"
          >
            <ng-container *ngIf="isFollowing()">
              Dejar de seguir
            </ng-container>
            <ng-container *ngIf="!isFollowing()">
              Seguir
            </ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="info-tab"
            data-toggle="tab"
            href="#info"
            role="tab"
            aria-controls="info"
            aria-selected="true"
            >Información</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="video-tab"
            data-toggle="tab"
            href="#video"
            role="tab"
            aria-controls="video"
            aria-selected="false"
            >Video</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="photos-tab"
            data-toggle="tab"
            href="#photos"
            role="tab"
            aria-controls="photos"
            aria-selected="false"
            >Fotografias</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="follows-tab"
            data-toggle="tab"
            href="#follows"
            role="tab"
            aria-controls="follows"
            aria-selected="false"
            >Seguidores</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="reviews-tab"
            data-toggle="tab"
            href="#reviews"
            role="tab"
            aria-controls="reviews"
            aria-selected="false"
            >Reseñas</a
          >
        </li>
      </ul>
      <div class="tab-content py-2" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="info"
          role="tabpanel"
          aria-labelledby="info-tab"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3 col-12 font-weight-bold">
                  Nombre
                </div>
                <div class="col-sm-9 col-12">
                  {{ centro.nombre }}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3 col-12 font-weight-bold">
                  Descripción
                </div>
                <div class="col-sm-9 col-12">
                  {{ centro.descripcion }}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3 col-12 font-weight-bold">
                  Horarios
                </div>
                <div class="col-sm-9 col-12" *ngIf="!centro.horarios?.length">
                  No tiene horarios.
                </div>
              </div>
            </li>
            <li class="list-group-item" *ngFor="let horario of centro.horarios">
              <div class="row">
                <div class="col-sm-3 col-12 font-weight-bold"></div>
                <div class="col-sm-4 col-12">{{ horario.inicio }}</div>
                <div class="col-sm-1 col-12">-</div>
                <div class="col-sm-4 col-12">
                  {{ horario.fin }}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div
          class="tab-pane fade"
          id="video"
          role="tabpanel"
          aria-labelledby="video-tab"
        >
          <div class="col-sm-12">
            <!--<div class="embed-responsive embed-responsive-16by9">
              <iframe
                class="embed-responsive-item"
                [src]="videoUrl"
                allowfullscreen
              ></iframe>
            </div>-->
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="photos"
          role="tabpanel"
          aria-labelledby="photos-tab"
        >
          <p *ngIf="!centro.fotografias?.length">
            No tiene fotografias.
          </p>
          <div class="card-columns" *ngIf="centro.fotografias">
            <div class="card" *ngFor="let fotografia of centro.fotografias">
              <img class="card-img" src="{{ fotografia }}" alt="Card image" />
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="follows"
          role="tabpanel"
          aria-labelledby="follows-tab"
        >
          <p *ngIf="!centro.seguidores?.length">
            No tiene seguidores.
          </p>
          <div class="list-group list-group-flush" *ngIf="centro.seguidores">
            <a
              [routerLink]="['/usuarios', seguidor.id]"
              class="list-group-item list-group-item-action"
              *ngFor="let seguidor of centro.seguidores"
            >
              {{ seguidor.nombre }}
            </a>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="reviews"
          role="tabpanel"
          aria-labelledby="reviews-tab"
        >
          <p *ngIf="!centro.resenas?.length">
            No hay reseñas.
          </p>
          <div
            class="card"
            *ngFor="let resena of centro.resenas; let i = index"
            [ngClass]="{ 'mt-2': i > 0 }"
          >
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img
                    src="https://image.ibb.co/jw55Ex/def_face.jpg"
                    class="img img-rounded img-fluid"
                  />
                </div>
                <div class="col-md-10">
                  <p>
                    <a
                      [routerLink]="['/usuarios', resena.usuario.id]"
                      class="float-left"
                    >
                      <strong>{{ resena.usuario.nombre }}</strong>
                    </a>
                    <span class="float-right" *ngIf="resena.valoracion > 0"
                      ><i class="text-warning fa fa-star"></i
                    ></span>
                    <span class="float-right" *ngIf="resena.valoracion > 1"
                      ><i class="text-warning fa fa-star"></i
                    ></span>
                    <span class="float-right" *ngIf="resena.valoracion > 2"
                      ><i class="text-warning fa fa-star"></i
                    ></span>
                    <span class="float-right" *ngIf="resena.valoracion > 3"
                      ><i class="text-warning fa fa-star"></i
                    ></span>
                    <span class="float-right" *ngIf="resena.valoracion > 4"
                      ><i class="text-warning fa fa-star"></i
                    ></span>
                  </p>
                  <div class="clearfix"></div>
                  <p>
                    <span class="float-left">
                      Título:
                      <a [routerLink]="['resenas', resena.id]">
                        <strong>{{ resena.titulo }}</strong>
                      </a>
                    </span>
                    <span
                      class="float-right"
                      *ngIf="resena.usuario.id === authService.oUsuario?.id"
                    >
                      <a
                        [routerLink]="['resenas', 'editar', resena.id]"
                        class="btn btn-secondary"
                        role="button"
                        aria-disabled="true"
                      >
                        Editar
                      </a>
                    </span>
                  </p>
                  <div class="clearfix"></div>
                  <p>{{ resena.resena }}</p>
                  <small>{{ resena.fechaCreacion }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Cargando...
</ng-template>
