@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

/* img-container needed to position the button. Adjust the width as needed */
.img-container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.img-container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the img-container/image */
.img-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.img-container .btn:hover {
  background-color: black;
}
