<div class="input-group mb-3">
  <input
    type="text"
    [(ngModel)]="term"
    class="form-control"
    placeholder="Buscar por nombre de centro turistico"
    aria-label="Centro turistico"
    (keyup)="searchCentros(term)"
  />
</div>

<div class="card-columns">
  <div class="card" *ngFor="let centro of filteredCentros">
    <img
      class="card-img-top"
      src="{{ centro.imagen }}"
      alt="Imagen del centro"
    />
    <div class="card-body">
      <h5 class="card-title">
        <a [routerLink]="['/centros', centro.id]">{{ centro.nombre }}</a>
      </h5>
      <p class="card-text">
        {{ centro.descripcion }}
      </p>
      <p class="card-text">
        <small class="text-muted">{{ centro.ultimaModificacion }}</small>
      </p>
    </div>
  </div>
</div>
