<div *ngIf="usuario$ | async as usuario; else loading">
  <div class="row">
    <div class="d-flex justify-content-start mx-3 my-2 mr-auto">
      <img
        *ngIf="usuario.imagen; else other_content"
        src="{{ usuario.imagen }}"
        style="width: 150px; height: 150px"
        class="rounded"
      />
      <ng-template #other_content>
        <img
          src="https://image.ibb.co/jw55Ex/def_face.jpg"
          style="width: 150px; height: 150px"
          class="rounded"
        />
      </ng-template>
      <div class="ml-3">
        <h4 class="col-12 font-weight-bold">
          {{ usuario.nombre }}
        </h4>
        <h6 class="col-12">
          {{ usuario.seguidores ? usuario.seguidores.length : 0 }}
          follows
        </h6>
        <ng-container *ngIf="authService.usuario$ | async as u">
          <span *ngIf="u.id === usuario.id">
            <a
              [routerLink]="['../edit', u.id]"
              class="btn btn-secondary"
              role="button"
              aria-disabled="true"
            >
              Editar
            </a>
          </span>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="info-tab"
            data-toggle="tab"
            href="#info"
            role="tab"
            aria-controls="info"
            aria-selected="true"
            >Información</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="follows-tab"
            data-toggle="tab"
            href="#follows"
            role="tab"
            aria-controls="follows"
            aria-selected="false"
            >Siguiendo</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="reviews-tab"
            data-toggle="tab"
            href="#reviews"
            role="tab"
            aria-controls="reviews"
            aria-selected="false"
            >Reseñas</a
          >
        </li>
      </ul>
      <div class="tab-content py-2" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="info"
          role="tabpanel"
          aria-labelledby="info-tab"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3 col-12 font-weight-bold">
                  Nombre
                </div>
                <div class="col-sm-9 col-12">
                  {{ usuario.nombre }}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div
          class="tab-pane fade"
          id="follows"
          role="tabpanel"
          aria-labelledby="follows-tab"
        >
          <p *ngIf="!usuario.seguidores?.length">
            No sigue ningun centro.
          </p>
          <div class="list-group list-group-flush" *ngIf="usuario.seguidores">
            <a
              [routerLink]="['/centers', seguidor.id]"
              class="list-group-item list-group-item-action"
              *ngFor="let seguidor of usuario.seguidores"
            >
              {{ seguidor.nombre }}
            </a>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="reviews"
          role="tabpanel"
          aria-labelledby="reviews-tab"
        >
          <p *ngIf="!usuario.resenas?.length">
            No hay reseñas.
          </p>
          <ng-container *ngFor="let resena of usuario.resenas; let i = index">
            <div
              class="card"
              *ngIf="!resena.fechaEliminacion"
              [ngClass]="{ 'mt-2': i > 0 }"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img
                      src="https://image.ibb.co/jw55Ex/def_face.jpg"
                      class="img img-rounded img-fluid"
                    />
                  </div>
                  <div class="col-md-10">
                    <p>
                      <a
                        [routerLink]="[
                          '/centers',
                          resena.centro.id,
                          'reviews',
                          resena.id
                        ]"
                      >
                        <strong>{{ resena.titulo }}</strong>
                      </a>
                      <span class="float-right" *ngIf="resena.valoracion > 0"
                        ><i class="text-warning fa fa-star"></i
                      ></span>
                      <span class="float-right" *ngIf="resena.valoracion > 1"
                        ><i class="text-warning fa fa-star"></i
                      ></span>
                      <span class="float-right" *ngIf="resena.valoracion > 2"
                        ><i class="text-warning fa fa-star"></i
                      ></span>
                      <span class="float-right" *ngIf="resena.valoracion > 3"
                        ><i class="text-warning fa fa-star"></i
                      ></span>
                      <span class="float-right" *ngIf="resena.valoracion > 4"
                        ><i class="text-warning fa fa-star"></i
                      ></span>
                    </p>
                    <div class="clearfix"></div>
                    <ng-container
                      *ngIf="authService.usuario$ | async as usuariologgedIn"
                    >
                      <div class="btn-group float-right" role="group">
                        <a
                          *ngIf="!resena.censurar"
                          [routerLink]="[
                            '/centers',
                            resena.centro.id,
                            'reviews',
                            resena.id,
                            'comments',
                            'new'
                          ]"
                          class="btn btn-secondary"
                          role="button"
                          aria-disabled="true"
                        >
                          Comentar
                        </a>
                        <a
                          *ngIf="
                            usuario.id === usuariologgedIn.id &&
                            !resena.censurar
                          "
                          [routerLink]="[
                            '/centers',
                            resena.centro.id,
                            'reviews',
                            'edit',
                            resena.id
                          ]"
                          class="btn btn-secondary"
                          role="button"
                          aria-disabled="true"
                        >
                          Editar
                        </a>
                      </div>
                    </ng-container>
                    <div class="clearfix"></div>
                    <p *ngIf="!resena.censurar">{{ resena.resena }}</p>
                    <p *ngIf="resena.censurar"><b>Reseña censurada</b></p>
                    <div
                      class="card"
                      *ngFor="let comentario of resena.comentarios"
                      [ngClass]="{ 'mt-2': i > 0 }"
                    >
                      <div class="card-body">
                        <p>
                          <a
                            [routerLink]="['/users', comentario.usuario.id]"
                            class="float-left"
                          >
                            <strong>{{ comentario.usuario.nombre }}</strong>
                          </a>
                          <ng-container
                            *ngIf="
                              authService.usuario$ | async as usuariologgedIn
                            "
                          >
                            <span
                              class="float-right"
                              *ngIf="
                                comentario.usuario.id === usuariologgedIn.id
                              "
                            >
                              <a
                                [routerLink]="[
                                  '/centers',
                                  resena.centro.id,
                                  'reviews',
                                  resena.id,
                                  'comments',
                                  'edit',
                                  comentario.id
                                ]"
                                class="btn btn-secondary"
                                role="button"
                                aria-disabled="true"
                              >
                                Editar
                              </a>
                            </span>
                          </ng-container>
                        </p>
                        <div class="clearfix"></div>
                        <p>{{ comentario.comentario }}</p>
                        <small>{{ comentario.fechaCreacion?.toDate() }}</small>
                      </div>
                    </div>
                    <small>{{ resena.fechaCreacion?.toDate() }}</small>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Cargando...
</ng-template>
