<br />
<div class="imput-group">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Asignar Editor</h1>
  </div>

  <div class="form-label-group">
    <ng-select
      [items]="editoresList"
      [bindLabel]="bindLabel"
      [placeholder]="placeholderEditor"
      [(ngModel)]="selectedEditor"
    >
      <ng-template ng-label-tmp let-item="item">
        <img height="30" width="30" [src]="item.imagen" />
        <b> {{ item.nombre }}</b>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <img height="30" width="30" [src]="item.imagen" />
        <b> {{ item.nombre }}</b>
      </ng-template>
    </ng-select>
  </div>
  <br />
  <div class="form-label-group">
    <ng-select
      [items]="centrosList"
      [bindLabel]="bindLabel"
      [placeholder]="placeholderCentro"
      [(ngModel)]="selectedCentro"
    >
      <ng-template ng-label-tmp let-item="item">
        <img height="30" width="30" [src]="item.imagen" />
        <b> {{ item.nombre }}</b>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <img height="30" width="30" [src]="item.imagen" />
        <b> {{ item.nombre }}</b>
      </ng-template>
    </ng-select>
  </div>

  <button
    class="btn btn-lg btn-primary btn-block mt-5"
    type="button"
    (click)="asignar()"
  >
    Asignar
  </button>
</div>
