<div *ngIf="error" class="alert alert-danger" role="alert">
  {{ mensajeError }}
</div>

<br />
<div class="imput-group">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Asignar Editor</h1>
  </div>

  <div class="form-label-group">
    <ng-select
      [items]="editoresList"
      [bindLabel]="bindLabel"
      [placeholder]="placeholderEditor"
      [(ngModel)]="selectedEditor"
    >
    </ng-select>
  </div>
  <br />
  <div class="form-label-group">
    <ng-select
      [items]="centrosList"
      [bindLabel]="bindLabel"
      [placeholder]="placeholderCentro"
      [(ngModel)]="selectedCentro"
    >
    </ng-select>
  </div>

  <button
    class="btn btn-lg btn-primary btn-block mt-5"
    type="button"
    (click)="asignar()"
  >
    Asignar
  </button>
</div>
