<div class="card" *ngIf="resena$ | async as resena; else loading">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <img
          src="https://image.ibb.co/jw55Ex/def_face.jpg"
          class="img img-rounded img-fluid"
        />
      </div>
      <div class="col-md-10">
        <p>
          <a [routerLink]="['/users', resena.usuario.id]" class="float-left">
            <strong>{{ resena.usuario.nombre }}</strong>
          </a>
          <span class="float-right" *ngIf="resena.valoracion > 0"
            ><i class="text-warning fa fa-star"></i
          ></span>
          <span class="float-right" *ngIf="resena.valoracion > 1"
            ><i class="text-warning fa fa-star"></i
          ></span>
          <span class="float-right" *ngIf="resena.valoracion > 2"
            ><i class="text-warning fa fa-star"></i
          ></span>
          <span class="float-right" *ngIf="resena.valoracion > 3"
            ><i class="text-warning fa fa-star"></i
          ></span>
          <span class="float-right" *ngIf="resena.valoracion > 4"
            ><i class="text-warning fa fa-star"></i
          ></span>
        </p>
        <div class="clearfix"></div>
        <p>
          <span class="float-left">
            Título:
            <strong>{{ resena.titulo }}</strong>
          </span>
          <ng-container *ngIf="authService.usuario$ | async as usuario">
            <div class="btn-group float-right" role="group">
              <a
                *ngIf="!resena.censurar"
                [routerLink]="['comments', 'new']"
                class="btn btn-secondary"
                role="button"
                aria-disabled="true"
              >
                Comentar
              </a>
              <a
                *ngIf="resena.usuario.id === usuario.id && !resena.censurar"
                [routerLink]="['../edit', resena.id]"
                class="btn btn-secondary"
                role="button"
                aria-disabled="true"
              >
                Editar
              </a>
              <div *ngIf="centro$ | async as centro">
                <button
                  *ngIf="centro.editor?.id === usuario.id && !resena.censurar"
                  class="btn btn-secondary"
                  (click)="censurar(resena, true)"
                >
                  Censurar
                </button>
                <button
                  *ngIf="centro.editor?.id === usuario.id && resena.censurar"
                  class="btn btn-secondary"
                  (click)="censurar(resena, false)"
                >
                  Descensurar
                </button>
              </div>
            </div>
          </ng-container>
        </p>
        <div class="clearfix"></div>
        <p *ngIf="!resena.censurar">{{ resena.resena }}</p>
        <p *ngIf="resena.censurar"><b>Reseña censurada</b></p>
        <div
          class="card"
          *ngFor="let comentario of resena.comentarios"
          [ngClass]="{ 'mt-2': i > 0 }"
        >
          <div class="card-body" *ngIf="!resena.censurar">
            <p>
              <a
                [routerLink]="['/users', comentario.usuario.id]"
                class="float-left"
              >
                <strong>{{ comentario.usuario.nombre }}</strong>
              </a>
              <ng-container *ngIf="authService.usuario$ | async as usuario">
                <span
                  class="float-right"
                  *ngIf="comentario.usuario.id === usuario.id"
                >
                  <a
                    [routerLink]="['comments', 'edit', comentario.id]"
                    class="btn btn-secondary"
                    role="button"
                    aria-disabled="true"
                  >
                    Editar
                  </a>
                </span>
              </ng-container>
            </p>
            <div class="clearfix"></div>
            <p>{{ comentario.comentario }}</p>
            <small>{{ comentario.fechaCreacion?.toDate() }}</small>
          </div>
        </div>
        <small>{{ resena.fechaCreacion?.toDate() }}</small>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Cargando...
</ng-template>
